In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("data/sales.csv")

In [4]:
df

        Date         Product     Category  Quantity    Price
0   01-01-24          Mobile  Electronics       2.0  50000.0
1   02-01-24          Laptop  Electronics       1.0  80000.0
2   03-01-24      Headphones  Accessories       3.0   2000.0
3   04-01-24             NaN  Electronics       1.0  50000.0
4   05-01-24         Charger  Accessories       5.0    800.0
5   06-01-24          Laptop  Electronics       NaN  80000.0
6   07-01-24          Mobile  Electronics       2.0  50000.0
7   07-01-24  Infinix hot 10  Electronics       2.0  50000.0
8   08-01-24          Mobile  Electronics       2.0      NaN
9   09-01-24             NaN  Electronics       1.0  80000.0
10  10-01-24      Headphones  Accessories       3.0   2000.0
11  11-01-24         Air Pod  Accessories       1.0   5000.0
12  12-01-24         Charger  Accessories       5.0   8000.0
13  13-01-24          Laptop  Electronics       NaN    800.0
14  14-01-24     Samsung A23  Electronics       2.0   2500.0
15  15-01-24        Iphone 6  Electronics       2.0   3500.0

In [5]:
df.tail()

        Date      Product     Category  Quantity   Price
11  11-01-24      Air Pod  Accessories       1.0  5000.0
12  12-01-24      Charger  Accessories       5.0  8000.0
13  13-01-24       Laptop  Electronics       NaN   800.0
14  14-01-24  Samsung A23  Electronics       2.0  2500.0
15  15-01-24     Iphone 6  Electronics       2.0  3500.0

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      16 non-null     str
 1   Product   14 non-null     str
 2   Category  16 non-null     str
 3   Quantity  14 non-null     float64
 4   Price     15 non-null     float64
dtypes: float64(2), str(3)
memory usage: 772.0 bytes

In [7]:
df.isnull().sum()

Date        0
Product     2
Category    0
Quantity    2
Price       1
dtype: int64

In [8]:
df.dropna()

        Date         Product     Category  Quantity    Price
0   01-01-24          Mobile  Electronics       2.0  50000.0
1   02-01-24          Laptop  Electronics       1.0  80000.0
2   03-01-24      Headphones  Accessories       3.0   2000.0
4   05-01-24         Charger  Accessories       5.0    800.0
6   07-01-24          Mobile  Electronics       2.0  50000.0
7   07-01-24  Infinix hot 10  Electronics       2.0  50000.0
10  10-01-24      Headphones  Accessories       3.0   2000.0
11  11-01-24         Air Pod  Accessories       1.0   5000.0
12  12-01-24         Charger  Accessories       5.0   8000.0
14  14-01-24     Samsung A23  Electronics       2.0   2500.0
15  15-01-24        Iphone 6  Electronics       2.0   3500.0

In [11]:
df = df.drop_duplicates()
df

        Date         Product     Category  Quantity    Price
0   01-01-24          Mobile  Electronics       2.0  50000.0
1   02-01-24          Laptop  Electronics       1.0  80000.0
2   03-01-24      Headphones  Accessories       3.0   2000.0
3   04-01-24             NaN  Electronics       1.0  50000.0
4   05-01-24         Charger  Accessories       5.0    800.0
5   06-01-24          Laptop  Electronics       NaN  80000.0
6   07-01-24          Mobile  Electronics       2.0  50000.0
7   07-01-24  Infinix hot 10  Electronics       2.0  50000.0
8   08-01-24          Mobile  Electronics       2.0      NaN
9   09-01-24             NaN  Electronics       1.0  80000.0
10  10-01-24      Headphones  Accessories       3.0   2000.0
11  11-01-24         Air Pod  Accessories       1.0   5000.0
12  12-01-24         Charger  Accessories       5.0   8000.0
13  13-01-24          Laptop  Electronics       NaN    800.0
14  14-01-24     Samsung A23  Electronics       2.0   2500.0
15  15-01-24        Iphone 6  Electronics       2.0   3500.0

In [12]:
df["Revenue"] = df["Quantity"] * df["Price"]
df

        Date         Product     Category  Quantity    Price   Revenue
0   01-01-24          Mobile  Electronics       2.0  50000.0  100000.0
1   02-01-24          Laptop  Electronics       1.0  80000.0   80000.0
2   03-01-24      Headphones  Accessories       3.0   2000.0    6000.0
3   04-01-24             NaN  Electronics       1.0  50000.0   50000.0
4   05-01-24         Charger  Accessories       5.0    800.0    4000.0
5   06-01-24          Laptop  Electronics       NaN  80000.0       NaN
6   07-01-24          Mobile  Electronics       2.0  50000.0  100000.0
7   07-01-24  Infinix hot 10  Electronics       2.0  50000.0  100000.0
8   08-01-24          Mobile  Electronics       2.0      NaN       NaN
9   09-01-24             NaN  Electronics       1.0  80000.0   80000.0
10  10-01-24      Headphones  Accessories       3.0   2000.0    6000.0
11  11-01-24         Air Pod  Accessories       1.0   5000.0    5000.0
12  12-01-24         Charger  Accessories       5.0   8000.0   40000.0
13  13-01-24          Laptop  Electronics       NaN    800.0       NaN
14  14-01-24     Samsung A23  Electronics       2.0   2500.0    5000.0
15  15-01-24        Iphone 6  Electronics       2.0   3500.0    7000.0

In [13]:
df["Revenue"].sum()

np.float64(583000.0)

In [14]:
df.groupby("Category")["Revenue"].sum()

Category
Accessories     61000.0
Electronics    522000.0
Name: Revenue, dtype: float64